*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;

}
header{
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


nav{
    width: 85%;
    max-width: 1360;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-top: 16px;

}
nav .menu{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}
.nav-container .btn:hover{
    background-color: #1f5620;
    color: #FFFFFF;
}
.banner-container{
    width: 100%;
    /* max-width: 1600px; */
    height: 674px;
    border: 1px solid black;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container .banner-info{
    width: 85%;
    max-width: 1360px;
    text-align: center;
    /* border: 1px solid white; */
    margin: 0 auto;
    padding-top: 115px;

}
.banner-info .info-button{
    padding: 10px 13px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 6px;
    margin: 0 auto;
    cursor: ;
}
.banner-info .info-button:hover{
    background-color: #7eb193;
    color:#FFFFFF;
}

.banner-info .info-title{
    max-width: 770px;
    /* border: 1px solid white; */
    margin: 0 auto;
    padding-top: 16px;
}

.banner-info .info-title h1{ 
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.banner-info .info-title span{
    color: #30B868
} 
.banner-info .info-text{
    max-width: 770px;
    margin: 0 auto;
    /* line-height: 24px; */
    /* padding-bottom: 32px; */
}
.banner-info .info-text p{
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 180px;
}
.button-container .start{
    padding: 16.5px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.button-container .works{
    background-color:transparent;
    padding: 16px 16px 16px 16px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF; 
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.button-container .works:hover{
    background-color: #01203e;
    color: #FFFFFF;
}
#structure{
    padding-top: 75px;
}
#structure .structure-container{
    width: 71%;
    max-width: 1360;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid black; */
    
}
.structure-container .structure-title h1{
    font-size:48px;
    font-weight: 700;
    color: #001931;
}
.structure-container .structure-title p{
    font-size: 16px;
    color:#627382;
    line-height: px;
}
#structure .structure-container .structure-box{
    display: flex;
    gap: 24px;
    padding-top:44px;
}
.structure-box .structure-card{
    max-width: 322px;
    max-height:300px;
    border-radius: 8px;
    /* border: 1px solid black; */
    padding: 70px 24px 125px 24px;
    box-shadow:  0px 6px 10px 0 #bfc1c3;
}

.structure-card .image{
    background-color: red;
    max-width: 60px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.structure-card h3{
    padding-top: 16px;
    font-size: 24px;
    font-weight: 600;
}
.structure-card p{
    font-size: 16px;
    color: #627382;
    padding-top: 16px;
    line-height: 20px;
}
#brain{
    /* border: 1px solid black; */

}
#brain .brain-container{
    width: 85%;
    max-width: 1360px;
    /* border: 1px solid blue; */
    display: flex;
    gap: 60px;
    margin: 120px auto;
}
.brain-container img{
    max-width: 600px;
}
.brain-title{
    max-width: 600px;
    /* border: 1px solid black; */
    margin-top: 102px;
}
#brain .brain-content .brain-title h5{

    font-size: 16px;
    font-weight:500;
    color: #469165;
    line-height: 24px;
}
.brain-content .brain-title h1{
    font-size: 48px;
    font-weight: 600;
}
.brain-content .brain-title p{
    color: #627382;
    font-size: 16px;
    padding-top: 16px;
    line-height: 20px;
}


.brain-text{
    padding-top: 40px;
}
.brain-text ul li{
    list-style: none;
}
.brain-text h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.brain-text .text{
    display: flex;
    gap: 5px;
    padding-top: 16px;
}
.brain-text .text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
#ready{

}
#ready .ready-container{
    width: 85%;
    max-width: 1360px;
    margin: 120px auto;
    background-color: #F7F6F2;
    text-align: center;
}
.ready-container .ready-title h1{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 600;
    color: #001931;
}
.ready-container .ready-title .ready-text{
    width: 610px;
    text-align: center;
    margin: 0 auto;
}
.ready-container .ready-title .ready-text p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}

.ready-container .text p{
    padding-top: 20px;
    color: #627382;
    padding-bottom: 80px;
}
.ready-title .button{
     background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}
.ready-title .button:hover{
    background-color: #1f5620;
    color: #FFFFFF;

}
footer{
    width: auto;
    height: 348px;
    background-color: #001931;
}
footer .footer-container{
    width: 85%;
    margin: 0 auto;
    /* border: 1px solid white; */
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.footer-container .logo img{
    max-width: 139px;
    max-height: 60px;
}
.footer-container .social {
    padding-right: 102px;
    
}
.social p{
    font-size: 20;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
}
.social .icon{
    display: flex;
    gap: 16px;
    padding-top: 16px;
}
footer .footer-text{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}

.footer-text p{
    font-size: 16px;
    padding-top: 30px;
    color: #FAFAFA;
    line-height: 24px;
}






